@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400&display=swap");

// COLOR
$primary-white: #f3eed9;
$primary-brown: #824936;
$primary-black: #222c2a;

// FONT
$font-primary: "Roboto", sans-serif;
$font-secondary: "Playfair Display", serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
}

.container {
  max-width: 1128px;
  width: 100%;
  margin: 0 auto;
}

.heading--primary {
  font-family: $font-secondary;
  margin-bottom: 1.5rem;
}

.row {
  display: flex;
  justify-content: center;
}

.co-brown {
  color: $primary-brown;
}

/* Sections */

/* HERO */
.hero {
  font-size: 1.6rem;
  background-color: $primary-white;
  text-align: center;
  padding: 5em;

  &__text {
    font-family: $font-primary;
    font-weight: 300;
    letter-spacing: 3px;
    font-size: 1rem;
    text-transform: uppercase;
  }

  &__title {
    max-width: 500px;
    margin: 0.5em auto 0;
    font-family: $font-secondary;
    letter-spacing: 1px;
    color: $primary-brown;
  }
}

/* FEATURES */
.features {
  text-align: center;
  padding: 5em;
  font-size: 1.6rem;

  &__one,
  &__two {
    text-align: left;
    margin-right: 2rem;
    font-size: 1.3rem;
    color: gray;
    line-height: 1.5;
  }

  &__one {
    margin-right: 1.5rem;
  }
}

// PROMOTE
.promote {
  font-size: 1.6rem;
  background-color: $primary-black;
  color: #fff;
  padding: 3em;
}

// CTA
.cta {
  font-size: 1.6rem;
  background-color: $primary-brown;
  color: #fff;
  padding: 3em;

  &__image {
    border: none;
    margin-right: 2em;
  }
}

// MEDIA QUERIES
@media (max-width: 992px) {
  .hero {
    padding: 3em 0 3em;
  }

  .features {
    padding: 3em 0 3em;
  }

  .row {
    flex-direction: column;
  }

  .row > div {
    text-align: center;
    margin-top: 2em;
    padding: 0 1em;
  }

  .promote {
    padding: 3em 0 3em;

    &__image {
      img {
        max-width: 300px;
        width: 100%;
      }
    }
  }

  .cta {
    padding: 3em 0 3em;

    &__image {
      margin: 0;

      img {
        max-width: 300px;
        width: 100%;
      }
    }
  }
}
